<a href="/logout">Logout</a>
<a href="#/addperson">Add Person</a>
<a href="#/removeperson">Remove Persons</a>
<h1>Here is the table data of your friends</h1>
<table class="table table-striped">

    <thead>
        <tr>
        
            <th>Name </th>
            <th>Address </th>
            <th>Age </th>
        
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='person in friendData' ng-click='rowClicked(person._id)'>
            <td>{{person.name}}</td>
            <td>{{person.address}}</td>
            <td>{{person.age}}</td>
        </tr>
    </tbody>


</table>